<div class="row mt-5">
        <div class="col-md-12">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="mt-2 mb-4">
                <!--Card image-->
                <div class="view gradient-card-header blue darken-2">
                    <h4 class="h4-responsive text-white">Consulta de Clientes</h4>
                </div>
                <!--/Card image-->
                <!--Card content-->
                <mdb-card-body>
                    <!--Table-->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Fone Celular</th>
                            <th>E-mail</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Julio Izidiro da Silva Junior</td>
                            <td>(48)98404-4409 </td>
                            <td>jizidoro@globo.com</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Julio Izidiro da Silva Junior</td>
                            <td>(48)98404-4409 </td>
                            <td>jizidoro@globo.com</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Julio Izidiro da Silva Junior</td>
                            <td>(48)98404-4409 </td>
                            <td>jizidoro@globo.com</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Julio Izidiro da Silva Junior</td>
                            <td>(48)98404-4409 </td>
                            <td>jizidoro@globo.com</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Julio Izidiro da Silva Junior</td>
                            <td>(48)98404-4409 </td>
                            <td>jizidoro@globo.com</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Julio Izidiro da Silva Junior</td>
                            <td>(48)98404-4409 </td>
                            <td>jizidoro@globo.com</td>
                        </tr>
                  
                        </tbody>
                    </table>
    
                </mdb-card-body>
                <!--/.Card content-->
            </mdb-card>
            <!--/.Card-->
        </div>
    </div>
    